* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #0E0B16;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}