#testimonials {
    padding: 40px 0;
    background: #111111;
    color: #fff;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #A239CA;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.back {
    background: transparent;
    position: relative;
}

.testimonial {
    background: #202020;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    clip-path: path("M0.024,15.059S4.493-1.094,18,0H255s18.252,2.21,18,18V49s-0.492,24.1,22.7,24.046L336,73s15.362-.987,15,18V225s-0.48,12.912-15,13H17s-17.744-1.589-17-18Z");
    text-align: left;
}

.quote-icon {
    position: absolute;
    width: 17%;
    top: 2px;
    right: 8px;
    font-size: 30px;
    color: #A239CA;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    margin: 20px 0;
}

.stars {
    color: orange;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

/* RESPONSIVENESS */
@media screen and (max-width: 992px) {
    .col {
        flex: 100%;
        max-width: 80%;
        padding: 10px;
    }
    
    .testimonial {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .testimonial {
        padding: 15px;
    }
}